<h1>{{ title }}</h1>

<form [formGroup]="deploymentForm" (ngSubmit)="submit()">

  <mat-form-field class="full-width-field" appearance="outline">
    <mat-label>Node</mat-label>
    <mat-select formControlName="node_id">
      <mat-option *ngFor="let node of nodes" [value]="node.node_id">
        {{node.node_label}} ({{node.type}}, {{node.platform}})
      </mat-option>
    </mat-select>
    <mat-error *ngIf="deploymentForm.controls.node_id.errors?.['required']">You must enter a value</mat-error>
    <mat-hint>Select a node to deploy</mat-hint>
  </mat-form-field>

  <div *ngIf="deploymentForm.errors?.['isOverlapping'] && (deploymentForm.touched || deploymentForm.dirty)" class="node-period-overlap mat-error">
      <mat-icon class="material-symbols-outlined">error</mat-icon>The selected node and period overlap with an existing deployment!
  </div>

  <mat-form-field class="full-width-field" appearance="outline">
    <mat-label>Deployment Period</mat-label>
    <mat-date-range-input [rangePicker]="rangePicker">
      <input matStartDate placeholder="Start date" formControlName="period_start">
      <input matEndDate placeholder="End date" formControlName="period_end">
    </mat-date-range-input>
    <mat-hint>DD.MM.YYYY – DD.MM.YYYY (leave a date empty for unbounded range)</mat-hint>
    <mat-error *ngIf="deploymentForm.errors !== null">errors</mat-error>
    <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
    <mat-date-range-picker #rangePicker>
      <mat-date-range-picker-actions>
        <button mat-button matDateRangePickerCancel>Cancel</button>
        <button mat-raised-button color="primary" matDateRangePickerApply>Apply</button>
      </mat-date-range-picker-actions>
    </mat-date-range-picker>
  </mat-form-field>

  <app-map [coordinates]="coordinates" [readonly]="false" (coordinatesSet)="displayCoordinates=$event"></app-map>

  <div class="coordinates-container">
    <mat-form-field class="full-width-field" appearance="outline">
      <mat-label>Latitude (WSG48)</mat-label>
      <input matInput type="number" [value]="displayCoordinates?.lat" disabled id="latitude">
    </mat-form-field>

    <mat-form-field class="full-width-field" appearance="outline">
      <mat-label>Longitude (WSG48)</mat-label>
      <input matInput type="number" [value]="displayCoordinates?.lon" disabled id="longitude">
    </mat-form-field>
  </div>

  <div class="form-buttons">
    <button [disabled]="!deploymentForm.valid"  style="display: inline; min-width: 100%" type="submit" mat-raised-button color="primary">Submit</button>
    <div>
      <mat-spinner *ngIf="deploymentForm.pending || deletePending " [diameter]="24" [strokeWidth]="4"></mat-spinner>
    </div>
    <button style="place-self: end" type="button" (click)="delete()" *ngIf="mode==='edit'" mat-raised-button color="warn">Delete</button>
  </div>

</form>

<ng-template #deleteError let-data>
  <h1 mat-dialog-title>Deleting the deployment failed:</h1>
  <div mat-dialog-content>
    <!--
      Strictly speaking this is not correct. It's just that there are data records referring to the node of
      this deployment, and possibly these records fall into the period of the deployment. The database schema
      would have to be changed to let the records directly refer to the deployment.
    -->
    <p>
      There are data records referring to the node {{data.node_label}}
      in the period between {{data.period_start | date:'mediumDate' }} and {{data.period_end | date:'mediumDate'}}.
    </p>
  </div>
  <div mat-dialog-actions>
    <button mat-stroked-button [mat-dialog-close]="true" cdkFocusInitial>OK</button>
  </div>
</ng-template>
