form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 8px;
}

.full-width-field {
  width: 100%;
}

.node-period-overlap {
  display: grid;
  align-items: center;
  grid-template-columns: min-content max-content;
  column-gap: 4px;
}

.coordinates-container {
  width: 100%;
  display: grid;
  grid-template-columns: min-content 1fr 1fr;
  column-gap: 10px;
  align-items: start;
}

.coordinates-container button {
  margin-top: 4px;
}

.form-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 24px;
  row-gap: 8px;
  justify-items: start;
  align-items: center;
  margin-bottom: 24px;
}

.form-buttons button {
  min-width: 100%;
}

app-map {
  margin: 16px 0;
}
