:host {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.container {
  display: flex;
  height: 100%;
  flex: 1 1 auto;
  flex-flow: column;

}

.button-header {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 4px;
}

.table-container {
  overflow: auto;
  flex: 1 1 auto;
  height: 1px;
}

.full-width-table {
  width: 100%;
}

mat-row,
td.mat-mdc-cell {
  cursor: pointer;
}

.mat-elevation-z4 {
  margin: 0 -16px;
}

.mat-elevation-z4 td.mat-mdc-cell:first-of-type {
  padding-left: 8px;
}
.mat-elevation-z4 th.mat-mdc-header-cell:first-of-type {
  padding-left: 16px;
}

.mat-elevation-z4 td.mat-mdc-cell:last-of-type,
.mat-elevation-z4 th.mat-mdc-header-cell:last-of-type {
  padding-right: 16px;
}

.mat-column-node_label {
  font-weight: bold;
}

.mat-column-node_label,
.mat-column-type,
.mat-column-platform,
.mat-column-period_start,
.mat-column-period_end,
.mat-column-description {
  padding-left: 4px;
  padding-right: 4px;
}
