.details-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 10px;
  row-gap: 8px;
  position: relative;
  top:0;
  bottom:0;
  left:0;
  right:0;
  min-width: 400px;
  max-width: 700px;
}

.details-container app-map {
  margin-top: 8px;
  grid-column-start: 1;
  grid-column-end: span 2;
}

h3 {
  margin: 16px 0 16px 0;
}

.node-container {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr 1.5fr;
  column-gap: 10px;
  row-gap: 8px;
  position: relative;
  top:0;
  bottom:0;
  left:0;
  right:0;
  min-width: 400px;
  max-width: 700px;
}
