<h1 mat-dialog-title>Deployment of Node {{deployment.node.node_label}}</h1>
<div mat-dialog-content>

  <div class="details-container">
    <strong>Node ID</strong>
    <div>{{deployment.node.node_label}}</div>

    <strong>Deployment Period</strong>
    <div *ngIf="deployment.period.start || deployment.period.end; else periodAlways">
      {{deployment.period.start ? (deployment.period.start | date:'mediumDate') : 'always'}}
      -
      {{deployment.period.end ? (deployment.period.end | date:'mediumDate') : 'always'}}
    </div>
    <ng-template #periodAlways>
      <div #periodAlways>always</div>
    </ng-template>

    <strong>Location</strong>
    <div style="max-width: fit-content;">
      <p>
        <strong>{{deployment.location.name}}</strong>
        ({{deployment.location.description}})
      </p>
    </div>

    <app-map [coordinates]="deployment.location"></app-map>

  </div>

  <h3>Node Details</h3>

  <div style="margin-bottom: 24px;" *ngIf="deployment.node.description">{{deployment.node.description}}</div>

  <div class="node-container">
    <strong *ngIf="deployment.node.type">Type</strong>
    <div *ngIf="deployment.node.type">{{deployment.node.type}}</div>

    <strong *ngIf="deployment.node.serial_number">Serial Number</strong>
    <div *ngIf="deployment.node.serial_number">{{deployment.node.serial_number}}</div>

    <strong *ngIf="deployment.node.platform">Platform</strong>
    <div *ngIf="deployment.node.platform">{{deployment.node.platform}}</div>

    <strong *ngIf="deployment.node.connectivity">Connectivity</strong>
    <div *ngIf="deployment.node.connectivity">{{deployment.node.connectivity}}</div>

    <strong *ngIf="deployment.node.power">Power</strong>
    <div *ngIf="deployment.node.power">{{deployment.node.power}}</div>

    <strong *ngIf="deployment.node.hardware_version">Hardware Version</strong>
    <div *ngIf="deployment.node.hardware_version">{{deployment.node.hardware_version}}</div>

    <strong *ngIf="deployment.node.software_version">Software Version</strong>
    <div *ngIf="deployment.node.software_version">{{deployment.node.software_version}}</div>

    <strong *ngIf="deployment.node.firmware_version">Firmware Version</strong>
    <div *ngIf="deployment.node.firmware_version">{{deployment.node.firmware_version}}</div>
  </div>

</div>
<div mat-dialog-actions>
  <button mat-stroked-button color="accent" (click)="edit()">Edit Deployment</button>
  <button mat-stroked-button mat-dialog-close cdkFocusInitial>Close</button>
</div>
