.details-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 10px;
  row-gap: 8px;
  position: relative;
  top:0;
  bottom:0;
  left:0;
  right:0;
  min-width: 400px;
  max-width: 700px;
}

h1 {
  margin: 0;
}

h3 {
  margin: 16px 0 16px 0;
}

.node-container {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr 1.5fr;
  column-gap: 10px;
  row-gap: 8px;
  position: relative;
  top:0;
  bottom:0;
  left:0;
  right:0;
  min-width: 400px;
  max-width: 700px;
}

@media screen and (max-width: 790px) {

  .node-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 10px;
    row-gap: 8px;
  }

}

.deployment-container {
  display: grid;
  grid-template-columns:  calc(20% - 6px) auto min-content;
  column-gap: 10px;
  row-gap: 0px;
  position: relative;
  top:0;
  bottom:0;
  left:0;
  right:0;
  min-width: 400px;
  max-width: 700px;
  margin: 12px 0;
}

.deployment-container p {
  margin: 0;
}

.deployment-container .location {
  max-width: max-content;
}

.deployment-container .edit {
  display: inherit;
}

.deployment-container mat-icon {
  cursor: pointer;
}

.link-copy {
  display: inline-block;
  margin-bottom: 16px;
}

.link-copy:hover:after {
  content: "";
  display: block;
  height: 24px;
  position: absolute;
  right: -24px;
  top: 0;
  width: 24px;
  background: rgba(0, 0, 0, 0.5) no-repeat;
  /* This is a material `content_copy` icon
   *  https://material.io/resources/icons/?search=copy&icon=content_copy&style=baseline
   */
  mask-image: url("/assets/content_copy-24px.svg");
  mask-position: 4px 2px;
  mask-repeat: no-repeat;
  mask-size: 16px;
}

.link-copy:hover:active:after {
  background-color: rgba(0, 0, 0, 0.8)
}

.link-copy:hover {
  text-decoration: underline;
  cursor: pointer;
  position: relative;
}
