form {
  min-width: 400px;
  max-width: 500px;
  width: 100%;
}

.full-width-field {
  width: 100%;
}

h1 {
  margin: 0;
}

h1 mat-icon {
  line-height: 32px;
  padding-right: 8px;
}

.form-container {
  padding-bottom: 0;
}
