.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

mat-nav-list mat-icon {
  margin-right: 8px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.main-content {
  display: block;
  text-align: center;
}

.wide .main-content {
  padding: 20px 50px 0;
}

.narrow .main-content {
  padding: 20px 16px 0;
}

.container {
  text-align: left;
  margin: 0 0;
  height: calc(100vh - 100px);
}
