<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLinkActive="active" routerLink="/deployments"><mat-icon matListItemIcon color="primary" class="material-symbols-outlined">location_on</mat-icon><div matListItemTitle>Deployments</div></a>
      <a mat-list-item routerLinkActive="active" routerLink="/nodes"><mat-icon matListItemIcon color="primary" class="material-symbols-outlined">sensors</mat-icon><div matListItemTitle>Nodes</div></a>
      <a mat-list-item routerLinkActive="active" routerLink="/tags"><mat-icon matListItemIcon color="primary" class="material-symbols-outlined">label</mat-icon><div matListItemTitle>Tags</div></a>
      <a mat-list-item routerLinkActive="active" routerLink="/environments"><mat-icon matListItemIcon color="primary" class="material-symbols-outlined">bubble_chart</mat-icon><div matListItemTitle>Environments</div></a>
      <a mat-list-item routerLinkActive="active" *ngIf="!loggedIn" routerLink="/login"><mat-icon matListItemIcon color="primary" class="material-symbols-outlined">login</mat-icon><div matListItemTitle>Log In</div></a>
      <a mat-list-item routerLinkActive="active" *ngIf="loggedIn" (click)="logout()"><mat-icon matListItemIcon color="primary" class="material-symbols-outlined">logout</mat-icon><div matListItemTitle>Log Out</div></a>
      <mat-list-item  *ngIf="userData" disabled><span>Signed in as {{ userData().firstName }} {{ userData().lastName }}</span></mat-list-item>
      <mat-list-item disabled><span>Version {{version}}</span></mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content [ngClass]="(isHandset$ | async) ? 'narrow' : 'wide'">
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle Navigation"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon class="material-symbols-outlined" aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{title}}</span>
    </mat-toolbar>

    <div class="main-content">
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
