<h1>{{ title }}</h1>

<form [formGroup]="nodeForm" (ngSubmit)="submit()">

  <mat-form-field class="full-width-field" appearance="outline">
    <mat-label>Name (a.k.a. Node Label / ID)</mat-label>
    <input matInput type="text" placeholder="2323-4242" formControlName="node_label" id="name">
    <mat-error *ngIf="nodeForm.controls.node_label.invalid">{{ getErrorMessage() }}</mat-error>
    <button matSuffix mat-icon-button color="primary" type="button" (click)="generateLabel()" matTooltip="Generate a Node Label">
      <mat-icon class="material-symbols-outlined">magic_button</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field class="full-width-field" appearance="outline">
    <mat-label>Description</mat-label>
    <textarea matInput placeholder="" formControlName="description" id="description"></textarea>
  </mat-form-field>

  <div class="detail">

    <mat-form-field class="full-width-field" appearance="outline">
      <mat-label>Type</mat-label>
      <input [matAutocomplete]="typeAuto" matInput type="text" placeholder="Audio" formControlName="type" id="type">
      <mat-error *ngIf="nodeForm.controls.type.invalid">{{ getErrorMessage() }}</mat-error>
      <mat-autocomplete #typeAuto="matAutocomplete">
        <mat-option *ngFor="let option of typeOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="full-width-field" appearance="outline">
      <mat-label>Platform</mat-label>
      <input [matAutocomplete]="platformAuto" matInput type="text" placeholder="Audiomoth" formControlName="platform" id="platform">
      <mat-autocomplete #platformAuto="matAutocomplete">
        <mat-option *ngFor="let option of platformOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="full-width-field" appearance="outline">
      <mat-label>Serial Number</mat-label>
      <input matInput type="text" placeholder="24E144085F256998" formControlName="serial_number" id="serial_number">
    </mat-form-field>

    <mat-form-field class="full-width-field" appearance="outline">
      <mat-label>Connectivity</mat-label>
      <input [matAutocomplete]="connectivityAuto" matInput type="text" placeholder="3G" formControlName="connectivity" id="connectivity">
      <mat-autocomplete #connectivityAuto="matAutocomplete">
        <mat-option *ngFor="let option of connectivityOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="full-width-field" appearance="outline">
      <mat-label>Power Source</mat-label>
      <input [matAutocomplete]="powerAuto" matInput type="text" placeholder="3x AAA" formControlName="power" id="power">
      <mat-autocomplete #powerAuto="matAutocomplete">
        <mat-option *ngFor="let option of powerOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="full-width-field" appearance="outline">
      <mat-label>Software Version</mat-label>
      <input matInput type="text" placeholder="1.5" formControlName="software_version" id="software_version">
    </mat-form-field>

    <mat-form-field class="full-width-field" appearance="outline">
      <mat-label>Hardware Version</mat-label>
      <input matInput type="text" placeholder="3.5.1" formControlName="hardware_version" id="hardware_version">
    </mat-form-field>

    <mat-form-field class="full-width-field" appearance="outline">
      <mat-label>Firmware Version</mat-label>
      <input matInput type="text" placeholder="0x2A" formControlName="firmware_version" id="firmware_version">
    </mat-form-field>

  </div>

  <div class="form-buttons">

    <button type="submit" [disabled]="!nodeForm.valid" mat-raised-button color="primary">{{ mode==='add' ? 'Add' : 'Save' }}</button>

    <button type="button" [routerLink]="['/deployments/add/', nodeForm.controls.node_id.value]" *ngIf="mode==='edit'" mat-raised-button color="accent">Deploy</button>
    <div *ngIf="mode!=='edit'"></div>

    <button  type="button" mat-raised-button [routerLink]="['/nodes']">Cancel</button>
    <button type="button" (click)="delete()" *ngIf="mode==='edit'" mat-raised-button color="warn">Delete</button>
  </div>

</form>

<ng-template #deleteError let-node_label>
  <h1 mat-dialog-title>Deleting Node {{ node_label }} failed:</h1>
  <div mat-dialog-content>
    <p>The Node {{ node_label }} is still referenced by at least one deployment.</p>
  </div>
  <div mat-dialog-actions>
    <button mat-stroked-button [mat-dialog-close]="true" cdkFocusInitial>OK</button>
  </div>
</ng-template>
