<h1>{{ title }}</h1>

<form [formGroup]="nodeForm" (ngSubmit)="submit()">

  <mat-form-field class="full-width-field" appearance="outline">
    <mat-label>Name (a.k.a. Node Label / ID)</mat-label>
    <input matInput type="text" placeholder="2323-4242" formControlName="node_label" id="name">
    <mat-error *ngIf="nodeForm.controls.node_label.invalid">{{ getErrorMessage() }}</mat-error>
    <button matSuffix mat-icon-button color="primary" type="button" (click)="generateLabel()" matTooltip="Generate a Node Label">
      <mat-icon class="material-symbols-outlined">magic_button</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field class="full-width-field" appearance="outline">
    <mat-label>Description</mat-label>
    <textarea matInput placeholder="" formControlName="description" id="description"></textarea>
  </mat-form-field>

  <div class="detail">

    <mat-form-field class="full-width-field" appearance="outline">
      <mat-label>Type</mat-label>
      <input matInput type="text" placeholder="Audio" formControlName="type" id="type">
      <mat-error *ngIf="nodeForm.controls.type.invalid">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width-field" appearance="outline">
      <mat-label>Platform</mat-label>
      <input matInput type="text" placeholder="Audiomoth" formControlName="platform" id="platform">
    </mat-form-field>

    <mat-form-field class="full-width-field" appearance="outline">
      <mat-label>Serial Number</mat-label>
      <input matInput type="text" placeholder="24E144085F256998" formControlName="serial_number" id="serial_number">
    </mat-form-field>

    <mat-form-field class="full-width-field" appearance="outline">
      <mat-label>Connectivity</mat-label>
      <input matInput type="text" placeholder="3G" formControlName="connectivity" id="connectivity">
    </mat-form-field>

    <mat-form-field class="full-width-field" appearance="outline">
      <mat-label>Power Source</mat-label>
      <input matInput type="text" placeholder="3x AAA" formControlName="power" id="power">
    </mat-form-field>

    <mat-form-field class="full-width-field" appearance="outline">
      <mat-label>Software Version</mat-label>
      <input matInput type="text" placeholder="1.5" formControlName="software_version" id="software_version">
    </mat-form-field>

    <mat-form-field class="full-width-field" appearance="outline">
      <mat-label>Hardware Version</mat-label>
      <input matInput type="text" placeholder="3.5.1" formControlName="hardware_version" id="hardware_version">
    </mat-form-field>

    <mat-form-field class="full-width-field" appearance="outline">
      <mat-label>Firmware Version</mat-label>
      <input matInput type="text" placeholder="0x2A" formControlName="firmware_version" id="firmware_version">
    </mat-form-field>

  </div>

  <button type="submit" mat-raised-button color="primary">Submit</button>

  <!-- https://www.freakyjolly.com/angular-material-109-datepicker-timepicker-tutorial/ -->

  <!-- https://www.npmjs.com/package/location-picker -->

  <!-- https://github.com/mebjas/html5-qrcode -->

</form>
