/* You can add global styles to this file, and also import other style files */

@import '~maplibre-gl/dist/maplibre-gl.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-chip-listbox span {
  max-width: 380px;
}

div.mat-mdc-dialog-actions {
  padding: 16px 24px;
}

mat-dialog-container.mat-mdc-dialog-container {
  max-width: 600px;
}

button.deployment span.mat-badge-small.mat-badge-after span.mat-badge-content {
  right: -10px
}
button.deployment span.mat-badge-small.mat-badge-below span.mat-badge-content {
  bottom: -2px;
}
