/* You can add global styles to this file, and also import other style files */

@import '~maplibre-gl/dist/maplibre-gl.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-chip-listbox span {
  max-width: 380px;
}

.filter-view {
  --mdc-checkbox-state-layer-size: 30px;
}

.filter-view h3 {
  margin-top: 0;
}

.filter-view mat-checkbox label {
  white-space: nowrap;
}

.filter.mat-mdc-select-panel {
  min-width: 240px;
}

span.mdc-dialog__title::before {
  height: 0px;
}

div.mat-mdc-dialog-actions {
  padding: 16px 24px;
}

/*
mat-dialog-container.mat-mdc-dialog-container {
  max-width: 600px;
}
*/

button.deployment span.mat-badge-small.mat-badge-after span.mat-badge-content {
  right: -10px
}
button.deployment span.mat-badge-small.mat-badge-below span.mat-badge-content {
  bottom: -2px;
}

.icon-header {
  display: grid;
  grid-template-columns: min-content auto max-content;
  column-gap: 16px;
}

mat-icon .mat-badge-content,
.mdc-icon-button .mat-badge-content {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  font-family: Roboto, sans-serif;
}

.mat-button-toggle-appearance-standard
.mat-button-toggle-label-content {
  padding: 0 6px;
  line-height: 32px;
}

.mat-button-toggle-appearance-standard
.mat-button-toggle-label-content
mat-icon.material-symbols-outlined {
  width: 20px;
  height: 20px;
  font-size: 20px;
}
