.container {
  position: relative;
}
.table-container {
  position: relative;
  min-height: 200px;
  max-height: calc(100vh - 250px);
  overflow: auto;
}

.full-width-table {
  width: 100%;
}

.mat-elevation-z4 {
  margin: 0 -16px;
}

.mat-elevation-z4 .table-container {
  position: relative;
  min-height: 200px;
  max-height: calc(100vh - 180px);
  overflow: auto;
}

.mat-elevation-z4 td.mat-cell:first-of-type {
  padding-left: 8px;
}
.mat-elevation-z4 th.mat-header-cell:first-of-type {
  padding-left: 16px;
}

.mat-elevation-z4 td.mat-cell:last-of-type,
.mat-elevation-z4 th.mat-header-cell:last-of-type {
  padding-right: 16px;
}

.mat-column-node_label {
  font-weight: bold;
}

.mat-column-node_label,
.mat-column-type,
.mat-column-platform,
.mat-column-description {
  padding-left: 4px;
  padding-right: 4px;
}
