<h1>Edit / Add a new node</h1>

<form>

  <mat-form-field class="full-width-field" appearance="outline">
    <mat-label>Name (a.k.a. Node Label / ID)</mat-label>
    <input matInput type="text" placeholder="2323-4242" [formControl]="name" id="name">
    <!-- <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      <mat-icon>close</mat-icon>
    </button> -->
  </mat-form-field>

  <!-- https://www.freakyjolly.com/angular-material-109-datepicker-timepicker-tutorial/ -->

  <!-- https://www.npmjs.com/package/location-picker -->

  <!-- https://github.com/mebjas/html5-qrcode -->

</form>
